<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <td>STT</td>
                <td>Title</td>
                <td>Desc</td>
                <td>idVideo</td>
                <td>Hinh anh</td>
                <td>Quan tri</td>
            </tr>
            <tr>
                <td>1</td>
                <td>NodeJS</td>
                <td>NodeJS la 1 ma nguon mo</td>
                <td>17263121</td>
                <td><img src="./images/background/2.png" width="200"/></td>
                <td>
                    <a href="#">Xoa</a><br/>
                    <a href="#">Sua</a>
                </td>
            </tr>
        </table>
    </body>
</html>