<li>
    <img class="thumb" src="./images/background/1478695328795socket.io.png" alt="" />
    <iframe src="http://player.vimeo.com/video/14506031?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=7d7d7d" videotype="vimeo" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
    <h3>NodeJS</h3>
    <p>NodeJS là một mã nguồn mở</p>
</li>