<li>
    <img class="thumb" src="./images/background/<%= image %>" alt="" />
    <iframe src="http://player.vimeo.com/video/<%= idVideo %>?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=7d7d7d" videotype="vimeo" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
    <h3><%= title %></h3>
    <p><%= desc %></p>
</li>