<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Update</title>
    </head>
    <body>
        <form action="/update" method="POST">
            <input type="text" name="name" value="sasdac" placeholder="Enter name" />
            <br /><br />
            <input type="text" name="desc" value="sasdac" placeholder="Enter Description" />
            <br /><br />
            <input type="text" name="idVideo" value="sasdac" placeholder="Enter id video" />
            <br /><br />
            <input type="text" name="image" value="sasdac" placeholder="Enter image filname" />
            <br /><br />
            <img src="images/background/1.jpg" />
            <button>Submit</button>
        </form>
    </body>
</html>
